<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Circle trajectory arguments -->
  <arg name="center_x" default="0.0"/>
  <arg name="center_y" default="0.0"/>
  <arg name="center_z" default="1.2"/>
  <arg name="radius" default="1.0"/>
  <arg name="linear_vel" default="0.6"/>
  <arg name="start_delay" default="0.0"/>  <!-- Triggered immediately when launched -->
  <arg name="cycles" default="-1"/>       <!-- -1: infinite continuous circling, >0: number of cycles -->
  <arg name="publish_rate" default="50.0"/>

  <!-- Start Circle Trajectory Publisher Node -->
  <node pkg="uav_mpc" type="circle_traj_node" name="circle_traj_node" output="screen">
    <param name="center_x" value="$(arg center_x)"/>
    <param name="center_y" value="$(arg center_y)"/>
    <param name="center_z" value="$(arg center_z)"/>
    <param name="radius" value="$(arg radius)"/>
    <param name="linear_vel" value="$(arg linear_vel)"/>
    <param name="start_delay" value="$(arg start_delay)"/>
    <param name="cycles" value="$(arg cycles)"/>
    <param name="publish_rate" value="$(arg publish_rate)"/>
  </node>
</launch>
