<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- parameter files -->
  <arg name="ros_param_file" default="$(find uav_mpc)/config/mpc_para.yaml"/>
  <arg name="enable_logger" default="true"/>
  <arg name="log_rate" default="20.0"/>

  <rosparam command="load" file="$(arg ros_param_file)"/>

  <!-- Start MPC Controller Node -->
  <node pkg="uav_mpc" type="mpc_node" name="mpc_node" output="screen">
  </node>

  <!-- Start Data Logger Node -->
  <group if="$(arg enable_logger)">
    <node pkg="uav_mpc" type="data_logger_node" name="data_logger_node" output="screen">
      <param name="log_rate" value="$(arg log_rate)"/>
    </node>
  </group>
</launch>
