<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Simulation Parameter File -->
  <arg name="ros_param_file" default="$(find uav_mpc)/config/mpc_simulation.yaml"/>
  <arg name="enable_logger" default="true"/>
  <arg name="log_rate" default="20.0"/>
  <arg name="observer_bw" default="8.0"/>
  <arg name="disturbance_limit" default="5.0"/>

  <rosparam command="load" file="$(arg ros_param_file)"/>

  <!-- 1. Start ESO Extended State Observer Node -->
  <node pkg="uav_mpc" type="eso_observer_node" name="eso_observer_node" output="screen">
    <param name="observer_bw" value="$(arg observer_bw)"/>
    <param name="disturbance_limit" value="$(arg disturbance_limit)"/>
  </node>

  <!-- 2. Start NMPC Controller Node (With ESO Feedforward Injection) -->
  <node pkg="uav_mpc" type="mpc_node" name="mpc_node" output="screen">
  </node>

  <!-- 3. Start Data Logger Node (NMPC_ESO Tagged) -->
  <group if="$(arg enable_logger)">
    <node pkg="uav_mpc" type="data_logger_node" name="data_logger_node" output="screen">
      <param name="log_prefix" value="NMPC_ESO"/>
      <param name="log_rate" value="$(arg log_rate)"/>
    </node>
  </group>
</launch>
